<div class="container">
  <div class = "col mx-auto">
    <% if @post.user == current_user %>
      <%= link_to '編集する', edit_public_post_path(@post.id), class: "btn  btn-success mr-4" %>
      <%= link_to "削除", public_post_path(@post), class: "btn alert-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
    </div>
    <div class="col mx-auto text-center  post-col"> 
      <%if @post.image.present? %>
        <% image = @post.image.variant(resize: "1000x1000") %>
        <%= image_tag image, class: "img-fluid" %>
      <% end %>
    </div>
    <div class = "col mx-auto">
      <h3><%= @post.title %></h3>
      <p>
      <% wrapped_text = word_wrap(@post.body, line_width: 200) %>
      <%= wrapped_text.gsub("\n", "<br>").html_safe %>
      </p>
      <p>投稿者名：<%= @post.user.name %>　・　投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <div id="public_favorite_btn<%= @post.id %>">
      <%= render 'public/favorites/btn', post: @post %>
      </div>
      <p>コメント件数:<%= @post.post_comments.count %></p>
    </div>
  </div>
</div>

 <hr>
 <div class = "container">
   <div class = "col mx-auto">

    <div>
      <p><h5>コメント欄</h5></p>

      <% @comments.each do |post_comment| %>
        <div class = "row">
          <div class = "col-4">
            by <%= post_comment.user.name %>さんのコメント・<%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class = "col-3">
            <% if post_comment.user == current_user %>
              <%= link_to "コメント削除", public_post_post_comments_path(post_comment.id), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当に削除しますか？" }  %>
            <% end %>
          </div>
        </div>
        <div>
          <p><%= post_comment.comment %></p>
        </div>
      <% end %>
    </div>
    <div>
      <%= paginate @comments %>
    </div>
    <div>
      <% if current_user %>
        <%= form_with url: public_post_post_comments_path(@post) do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントは、ここに入力してください" %>
          <%= f.submit "送信する" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>