<h2>Follow Users</h2>
<% if @users.exists? %>
  <table class="table">
  <h2>ユーザー一覧</h2>
 
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
     <% if user.id != current_user.id %>
      <tr>
        <td><%#= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', public_user_path(id: user.id) %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td><%= render "public/relationships/btn", user: user, options: { class: "follow-link" } %></td>
        
      </tr>
     <% end %>
    <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>