<div class="container px-5 px-sm-0">
   <div class="row">  

 <div class="col">

<h2>フォローユーザー一覧</h2>
<% if @users.exists? %>
 
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>ハンドルネーム</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
     <% if user.id != current_user.id %>
      <tr>
        <td></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', public_user_path(id: user.id) %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td><%= render "public/relationships/btn", user: user, options: { class: "follow-link" } %></td>
        
      </tr>
     <% end %>
    <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
  </tbody>
</table>
<div class = "row">
  <div class="mx-auto">
    <%= paginate @users %>
  </div>
</div>