<div class="container px-5 px-sm-0">
   <div class="row">  

 <div class="col-md-8 offset-md-1">
  <table class="table">
<h2>検索一覧</h2>
<table class='table'>


<!--管理者用検索対象モデルがUserの時 -->
  <% if admin_signed_in? %>
    <% if @range == "User" %>
      <thead>
        <tr>
          <th></th>
          <th>ハンドルネーム</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
         <tr>
           <td></td>
           <td><%= user.name %></td>
           <td><%= link_to 'Show', admin_user_path(id: user.id) %></td>
         </tr>
        <% end %>
        <%= paginate(@users) %>
      </tbody>
    <% elsif @range == "Post"%>
      <!--管理者用検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>内容</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td></td>
            <td>
              <span> <%= post.title %></span>
            </td>
            <td>
              <%= truncate(post.body, length: 20) %>
              </td>
            <td><%= link_to 'Show', admin_post_path(post.id) %></td>
          </tr>
        <% end %>
        <%= paginate(@posts) %>
      </tbody>
    <% else @range == "Group"%>
     <!--管理者用検索対象モデルがUserではない時(= 検索対象モデルがgroupの時) -->
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td></td>
            <td>
              <span> <%= group.name %></span>
            </td>
            <td>
              <%= truncate(group.introduction, length: 20) %>
              </td>
            <td><%= link_to 'Show', admin_group_path(group.id) %></td>
          </tr>
        <% end %>
        <%= paginate(@groups) %>
      </tbody>
    <% end %>
</table>
  <% else %>
    <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>
      <thead>
        <tr>
          <th></th>
          <th>ハンドルネーム</th>
          <th colspan="4"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td></td>
            <td><%= user.name %></td>
            <td><%= link_to 'Show', public_user_path(id: user.id) %></td>
          </tr>
        <% end %>
        <%= paginate(@users) %>
      </tbody>
      
    <% elsif @range == "Post" %>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがpostの時) -->
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>内容</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td></td>
            <td>
              <span> <%= post.title %></span>
            </td>
            <td><%= truncate(post.body, length: 25) %></td>
            <td><%= link_to 'Show', public_post_path(post.id) %></td>
          </tr>
        <% end %>
        <%= paginate(@posts) %>
      </tbody>
        <% else @range == "Group"%>
     <!--管理者用検索対象モデルがUserではない時(= 検索対象モデルがgroupの時) -->
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td></td>
            <td>
              <span> <%= group.name %></span>
            </td>
            <td>
              <%= truncate(group.introduction, length: 20) %>
              </td>
            <td><%= link_to 'Show', public_group_path(group.id) %></td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate(@groups) %>
    <% end %>
    </table>
    
  <% end %>