<div class = "container">
<h1>Tag: <%= params[:name] %></h1>
</div>
<div class="card-list-container py-5">
  <% @posts.each do |post| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-3" style="display: flex; justify-content: center; align-items: center;">
            <%= link_to public_post_path(post.id) do %>
              <% if post.image.present? %>
                <%= image_tag post.image, size: "130x130" %>
              <% end %>
            <% end %>
          </div>
            <div class="col-9">
              <p class="card-title">
                <%= link_to(public_post_path(post.id), class: "text-dark") do %>
                  <strong><i class="far fa-flag"></i><span> <%= post.title %></span></strong>
                <% end %>
              </p>
              <p class="card-text">説明：<%= truncate(post.body, length: 20) %></p>
              <%= link_to "Show", public_post_path(post.id), class: "show-button" %>
              <span><i class="fas fa-user"></i> By <%= post.user.name %>  </span>
              <p><%= link_to "#{post.post_comments.count} コメント", public_post_path(post.id) %></p>
            </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class = "row">
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>

<hr>
<div class="container py-5">
  <h5>タグ一覧</h5>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, public_tag_path(name: tag.name), class: "label tag-button" %>
  <% end %>
</div>
