<div class="container px-5 px-sm-0">
   <div class="row">  

 <div class="col">
  <table class="table">
  <h2>ユーザー一覧</h2>
 
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <!--<th>image</th>-->
      <th>ハンドルネーム</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
     <% if user.id != current_user.id %>
      <tr>
        <td><%#= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', public_user_path(id: user.id) %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td><%= render "public/relationships/btn", user: user, options: { class: "follow-link" } %></td>
        
      </tr>
     <% end %>
    <% end %>
    
    <%= link_to "グループを作成する", new_public_group_path %>｜<%= link_to "グループ一覧", public_groups_path %>
  </tbody>
</table>
<div class = "row">
  <div class="mx-auto">
    <%= paginate @users %>
  </div>
</div>