<div class = "container">
  <div>
    <h3>マイページ</h3><br>
  </div>
  <div class = "row">
  <div class="col-5 ml-5" style="display: flex; justify-content: center; align-items: center;">
    <% if @user.get_profile_image.present? %>
      <%= image_tag @user.get_profile_image, alt: "プロフィール画像" %>
    <% else %>
      <%= image_tag "default-image.jpg", size: "200x200", alt: "デフォルト画像" %>
    <% end %>
  </div>
  <div class = "col-4">
    <p>ハンドルネーム : <%= @user.name %></p>
    <div>
      <p>メールアドレス :  <%= @user.email %></p>
    </div>
    <div>
      <p><%= link_to "自身の投稿一覧", my_posts_path %></p>
    </div>
    <div>
      <p><%= link_to "いいねした投稿一覧",user_favorites_path(user_id: current_user.id) %></p>
    </div>
    <div>
      <%= link_to "フォロー 一覧", user_followings_path(@user) %> 
      フォロー数: <%= @user.followings.count %>
    </div>
    <div>
      <%= link_to "フォロワー一覧", user_followers_path(@user) %>
      フォロワー数:<%= @user.followers.count %>
    </div>

    <br>
      <div class="mx-5"><%= link_to "編集する", information_edit_path, class: 'btn btn-sm btn-success' %></div>
  </div>
</div>